<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/head" %>
<div class="hero-body">
  <div class="container is-desktop">

  <h1 class="title"><%= t('.title', resource: resource_name.to_s.humanize) %></h1>

  <%= render 'devise/shared/user_account_fields', form: f %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autocomplete: 'email', class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'input' %>

    <small class="help"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input'  %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "label" %>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'input' %>

    <small class="help"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
  </div>

  <div class="field">
    <%= f.submit t('.update'), class: 'button is-primary is-fullwidth' %>
  </div>
    <%= render 'devise/shared/links' %>
    <div class="field">
      <%= link_to t('.back'), :back, class: "button is-link is-fullwidth" %>
    </div>
    <div class="field mt2_5rem">
      <p>
         <%= link_to t('.cancel_my_account'),
         registration_path(resource_name),
          data: { confirm: t('.are_you_sure') },
          method: :delete, class: "button is-danger is-fullwidth" %>.
      </p>
    </div>


  </div>
</div>
<% end %>
