<div class="hero-head">
  <%= bulma_divise_flash_messages! %>
</div>



<div class='hero-body'>
  <div class='container is-desktop'>
    <h1 class='title'> My Portfolio </h1>
    <%= form_tag 'search_stock', remote: true, method: :get do %>
      <div class='field has-addons has-addons-centered'>
        <div class='control is-expanded'>
          <%= text_field_tag :stock, params[:stock], placeholder: 'Stock ticker', class: 'input' %>
        </div>
        <div class='control'>
          <%= button_tag type: :submit, class: 'button is-success' do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>

    <div id="result" class="mb">

    </div>

    <%= render 'users/stock_table' %>

  </div>
</div>
