<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<%= render "devise/shared/head" %>
<div class="hero-body">
  <div class="container is-desktop">
    <h1 class="title"><%= t('.sign_in') %></h1>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
    </div>

    <div class="field">
      <%= f.label :password, class: "label" %>
      <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <div class="control">
          <%= f.check_box :remember_me, class: 'check_box' %>
          <%= f.label :remember_me, class: 'check_box' do %>
            <%= resource.class.human_attribute_name('remember_me') %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= f.submit  t('.sign_in'), class: 'button is-success is-fullwidth' %>
    </div>
    <%= render 'devise/shared/links' %>
  </div>
</div>
<% end %>
