<div class="hero is-secondary is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container is-desktop">
      <h1 class="title"><%= t('.sign_in') %></h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field control">
            <%= f.check_box :remember_me, class: 'check_box' %>
            <%= f.label :remember_me, class: 'check_box' do %>
              <%= resource.class.human_attribute_name('remember_me') %>
            <% end %>
          </div>
        <% end %>

        <div class="field">
          <%= f.submit  t('.sign_in'), class: 'button is-success is-fullwidth' %>
        </div>

        <buttons class="buttons is-vertically is-centered">
          <%= render 'devise/shared/links' %>
        </buttons>
      <% end %>

    </div>
  </div>
</div>
