<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_tag "icons8-statistiken-100.png" %>
      <p>
      FinanceTracker
      </p>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu has-text-centered">
    <div class="navbar-start">

      <%= link_to my_portfolio_path, class: "navbar-item #{request.path==my_portfolio_path ? "is-active" : ""}" do %>
        My Portfolio
      <% end %>
      <a class="navbar-item">
        About
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown" , id="drop_1">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <% unless user_signed_in? %>
      <div class="navbar-end">
        <div class="navbar-item ">
          <%= link_to new_user_session_path, class: 'button is-success is-normal is-fullwidth' do %>
            <strong>Log in</strong>
          <% end %>
        </div>
        <div class="navbar-item">
          <%= link_to new_user_registration_path, class: 'button is-info is-normal is-fullwidth' do %>
            <strong>Sign up</strong>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to destroy_user_session_path, class: 'button is-primary is-normal is-fullwidth', method: :delete do %>
          <strong>Log out</strong>
        <% end %>
      </div>
    </div>
  <% end %>
</nav>
